<div  class="header-main">
   <div class="top-bar">
      <div class="container">
         <div class="row">
            <div class="col-xl-8 col-lg-8 col-sm-4 col-7">
               <div class="top-bar-left d-flex">
                  <div class="clearfix">
                     <ul class="socials">
                        <li> <a class="social-icon text-dark" href="javascript:void(0);"><i class="fa fa-facebook"></i></a> </li>
                        <li> <a class="social-icon text-dark" href="javascript:void(0);"><i class="fa fa-twitter"></i></a> </li>
                        <li> <a class="social-icon text-dark" href="javascript:void(0);"><i class="fa fa-linkedin"></i></a> </li>
                        <li> <a class="social-icon text-dark" href="javascript:void(0);"><i class="fa fa-google-plus"></i></a> </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-sm-8 col-5">
               <div class="top-bar-right">
                  <ul class="custom">
                     <li> <a routerLink="register" class="text-dark"><i class="fa fa-user me-1"></i> <span>Register</span></a> </li>
                     <li> <a routerLink="login" class="text-dark"><i class="fa fa-sign-in me-1"></i> <span>Login</span></a> </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>


   </div>
   <!-- Duplex Houses Header --> 
   <div class="sticky" style="margin-bottom: -54px;">
      <div class="horizontal-header clearfix ">
         <div class="container"> <a id="horizontal-navtoggle" class="animated-arrow"><span></span></a> <span class="smllogo"> <a routerLink="index"> 
            <img src="assets/images/brand/logo.png" class="mobile-light-logo" width="120" alt=""> 
            <img src="assets/images/brand/logo1.png" class="mobile-dark-logo" width="120" alt=""> </a> </span> 
            <a href="tel:245-6325-3256" class="callusbtn"><i class="fa fa-phone" aria-hidden="true"></i></a> </div>
      </div>
   </div>
   <div class="jumps-prevent" style="padding-top: 54px;"></div>
   <!-- /Duplex Houses Header --> 
   <div id="sticky-wrapper" class="sticky-wrapper" style="height: 0px;">
      <div class="horizontal-main bg-dark-transparent clearfix" style="width: 100%;">
         <div class="horizontal-mainwrapper container clearfix">
            <div class="desktoplogo"> <a routerLink="home"><img src="assets/images/brand/logo1.png" alt=""></a> </div>
            <div class="desktoplogo-1"> <a routerLink="home"><img src="assets/images/brand/logo1.png" alt=""></a> </div>
            <!--Nav--> 
            <nav class="horizontalMenu clearfix d-md-flex" style="height: 64px;">
               <div class="overlapblackbg"></div>
               <ul class="horizontalMenu-list">
                  <li aria-haspopup="true">
                     <a routerLink="home" routerLinkActive="active">Home</a> 
                  </li>
                  <li aria-haspopup="true"><a routerLink="about" routerLinkActive="active">About Us </a></li>
                  <li aria-haspopup="true"><a routerLink="properties" routerLinkActive="active">Properties</a></li>
                  <li aria-haspopup="true"><a routerLink="contact-us" routerLinkActive="active"> Contact Us <span class="hmarrow"></span></a></li>
                  <li aria-haspopup="true"><a routerLink="post" class="active"> Sell Your Property</a></li>
               </ul>
            </nav>
            <!--Nav--> 
         </div>
      </div>
   </div>
</div>