<div class="bannerimg cover-image bg-background3" data-bs-image-src="assets/images/banners/banner2.jpg" style="background: url(&quot;assets/images/banners/banner2.jpg&quot;) center center;">
  <div class="header-text mb-0">
    <div class="container">
      <div class="text-center text-white ">
        <h1 class="">Contact Us</h1>
        <ol class="breadcrumb text-center">
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">Home</a>
          </li>
          <li class="breadcrumb-item active text-white" aria-current="page">Contact</li>
        </ol>
      </div>
    </div>
  </div>
</div>



<section class="sptb bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row text-white">
          <div class="col-lg-6 col-md-12">
            <div class="card text-white">
              <div class="support-service bg-primary">
                <i class="fa fa-phone"></i>
                <h6>+68 872-627-9735</h6>
                <p>Free Support!</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card text-white">
              <div class="support-service bg-secondary">
                <i class="fa fa-clock-o"></i>
                <h6>Mon-Sat(10:00-19:00)</h6>
                <p>Working Hours!</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card text-white">
              <div class="support-service bg-warning">
                <i class="fa fa-map-marker"></i>
                <h6>872 School Street Opa Locka, TN 37072</h6>
                <p> New York, USA</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card text-white mb-0">
              <div class="support-service bg-info">
                <i class="fa fa-envelope-o"></i>
                <h6>yourdomain@gmail.com</h6>
                <p>Support us!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<div class="sptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xl-6 col-md-12">
        
      </div>
      <div class="col-lg-6 col-xl-6 col-md-12">
        <div class="card mb-0">
          <div class="card-body">
            <div class="form-group">
              <input type="text" class="form-control" id="name1" placeholder="Your Name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="email" placeholder="Email Address">
            </div>
            <div class="form-group">
              <textarea class="form-control" name="example-textarea-input" rows="6" cols="" placeholder="Message"></textarea>
            </div>
            <div class="text-start">
              <a href="javascript:void(0);" class="btn btn-primary">Send Message</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>