<section>
   <div class="bannerimg cover-image bg-background3 sptb-2" data-bs-image-src="assets/images/banners/banner2.jpg" style="background: url('assets/images/banners/banner2.jpg') center center;">
      <div class="header-text mb-0">
         <div class="container">
            <div class="text-center text-white ">
               <h1 class="">Register</h1>
            </div>
         </div>
      </div>
   </div>
</section>

<section class="sptb">
  <div class="container customerpage">
    <div class="row">
      <div class="single-page">
        <div class="col-lg-5 col-xl-4 col-md-6 d-block mx-auto">
          <div class="wrapper wrapper2">
            <form id="Register" class="card-body" tabindex="500">
              <h3>Register</h3>
              <div class="name">
                <input type="text" name="name">
                <label>Name</label>
              </div>
              <div class="mail">
                <input type="email" name="mail">
                <label>Mail or Username</label>
              </div>
              <div class="passwd">
                <input type="password" name="password">
                <label>Password</label>
              </div>
              <div class="submit">
                <a class="btn btn-primary btn-block" href="javascript:void(0);">Register</a>
              </div>
              <p class="text-dark mb-0">Already have an account? <a routerLink="/login" class="text-primary mx-1">Sign In</a>
              </p>
            </form>
            <hr class="divider">
            <div class="card-body">
              <div class="text-center">
                <div class="btn-group">
                  <a href="https://www.facebook.com/" class="btn btn-icon me-2 brround">
                    <span class="fa fa-facebook"></span>
                  </a>
                </div>
                <div class="btn-group">
                  <a href="https://www.google.com/gmail/" class="btn  me-2 btn-icon brround">
                    <span class="fa fa-google"></span>
                  </a>
                </div>
                <div class="btn-group">
                  <a href="https://twitter.com/" class="btn  btn-icon brround">
                    <span class="fa fa-twitter"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>