<section>
   <div class="banner-1 cover-image sptb-2 sptb-tab bg-background2" data-bs-image-src="assets/images/banners/banner1.jpg" style="background: url('assets/images/banners/banner1.jpg') center center;">
      <div class="header-text mb-0">
         <div class="container">
            <div class="text-center text-white mb-7">
               <h1 class="mb-1">Find Your Best Property</h1>
               <p>It is a long established fact that a reader will be distracted by the readable.</p>
            </div>
            <div class="row">
               <div class="col-xl-10 col-lg-12 col-md-12 d-block mx-auto">
                  <div class="search-background bg-transparent">
                     <div class="form row no-gutters ">
                        <div class="form-group  col-xl-4 col-lg-3 col-md-12 mb-0"> <input type="text" class="form-control input-lg br-tr-md-0 br-br-md-0" id="text4" placeholder="Enter Loaction, Landmark"> <span><i class="fa fa-map-marker location-gps me-1"></i></span> </div>
                        <div class="form-group col-xl-2 col-lg-2 col-md-12 select2-lg mb-0">
                           <select class="form-control select2-show-search border-bottom-0 select2-hidden-accessible" data-placeholder="Property Type" tabindex="-1" aria-hidden="true">
                              <optgroup label="Categories">
                                 <option>Property Type</option>
                                 <option value="1">Deluxe Houses</option>
                                 <option value="2">Modren Flats</option>
                                 <option value="3">Apartments</option>
                                 <option value="4">Stylish Houses</option>
                                 <option value="5">Offices Houses</option>
                                 <option value="6">Luxury Houses</option>
                                 <option value="7">Nature Houses</option>
                              </optgroup>
                           </select>
                            </div>
                        <div class="form-group col-xl-2 col-lg-2 col-md-12 select2-lg mb-0">
                           <select class="form-control select2-show-search border-bottom-0 select2-hidden-accessible" data-placeholder="Min Value" tabindex="-1" aria-hidden="true">
                              <option value="1" selected="">Min Price</option>
                              <option value="2">$50</option>
                              <option value="3">$60</option>
                              <option value="4">$70</option>
                              <option value="5">$80</option>
                              <option value="5">$90</option>
                           </select>
                        </div>
                        <div class="form-group col-xl-2 col-lg-2 col-md-12 select2-lg mb-0">
                           <select class="form-control select2-show-search border-bottom-0 select2-hidden-accessible" data-placeholder="Max Value" tabindex="-1" aria-hidden="true">
                              <option value="1" selected="">Max Price</option>
                              <option value="2">$100</option>
                              <option value="3">$110</option>
                              <option value="4">$120</option>
                              <option value="5">$130</option>
                              <option value="5">$140</option>
                           </select>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-12 mb-0"> <a href="javascript:void(0);" class="btn btn-lg btn-block btn-primary br-tl-md-0 br-bl-md-0">Search Here</a> </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- /header-text --> 
   </div>
</section>




<section class="categories">
  <div class="container">
    <div class="card mb-0 box-shadow-0">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 d-catmb mb-4 mb-lg-0">
            <div class="d-flex">
              <div>
                <span class="bg-primary-transparent icon-service1 text-primary">
                  <i class="fa fa-map-o"></i>
                </span>
              </div>
              <div class="ms-4 mt-1">
                <h3 class=" mb-0 font-weight-bold">1,200</h3>
                <p class="mb-0 text-muted">Commercial Lands</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 d-catmb mb-4 mb-lg-0">
            <div class="d-flex">
              <div>
                <span class="bg-secondary-transparent icon-service1 text-secondary">
                  <i class="fa fa-home"></i>
                </span>
              </div>
              <div class="ms-4 mt-1">
                <h3 class=" mb-0 font-weight-bold">894</h3>
                <p class="mb-0 text-muted">Showrooms &amp; Shops</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 d-catmb mb-4 mb-sm-0">
            <div class="d-flex">
              <div>
                <span class="bg-warning-transparent icon-service1 text-warning">
                  <i class="fa fa-object-group"></i>
                </span>
              </div>
              <div class="ms-4 mt-1">
                <h3 class=" mb-0 font-weight-bold">1,089</h3>
                <p class="mb-0 text-muted">Office rooms</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 ">
            <div class="d-flex">
              <div>
                <span class="bg-info-transparent icon-service1 text-info">
                  <i class="fa fa-building-o"></i>
                </span>
              </div>
              <div class="ms-4 mt-1">
                <h3 class=" mb-0 font-weight-bold ">789</h3>
                <p class="mb-0 text-muted">Residential</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sptb">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>Categories</h2>
      <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
    </div>

    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="item m-2">
              <div class="card m-3">
                <div class="item-card">
                  <div class="item-card-desc">
                    <a href="javascript:void(0);"></a>
                    <div class="item-card-img">
                      <img src="assets/images/products/b1.png" alt="img" class="br-tr-7 br-tl-7">
                    </div>
                    <div class="item-card-text">
                      <h4 class="mb-0">Luxury Homes</h4>
                      <span class="badge rounded-pill badge-secondary w-15">59</span>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </ng-template>  
        <ng-template carouselSlide>
          <div class="item m-2">
            <div class="card m-3">
              <div class="item-card">
                <div class="item-card-desc">
                  <a href="javascript:void(0);"></a>
                  <div class="item-card-img">
                    <img src="assets/images/products/b1.png" alt="img" class="br-tr-7 br-tl-7">
                  </div>
                  <div class="item-card-text">
                    <h4 class="mb-0">Luxury Homes</h4>
                    <span class="badge rounded-pill badge-secondary w-15">59</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>  
        <ng-template carouselSlide>
          <div class="item m-2">
            <div class="card m-3">
              <div class="item-card">
                <div class="item-card-desc">
                  <a href="javascript:void(0);"></a>
                  <div class="item-card-img">
                    <img src="assets/images/products/b1.png" alt="img" class="br-tr-7 br-tl-7">
                  </div>
                  <div class="item-card-text">
                    <h4 class="mb-0">Luxury Homes</h4>
                    <span class="badge rounded-pill badge-secondary w-15">59</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item m-2">
            <div class="card m-3">
              <div class="item-card">
                <div class="item-card-desc">
                  <a href="javascript:void(0);"></a>
                  <div class="item-card-img">
                    <img src="assets/images/products/b1.png" alt="img" class="br-tr-7 br-tl-7">
                  </div>
                  <div class="item-card-text">
                    <h4 class="mb-0">Luxury Homes</h4>
                    <span class="badge rounded-pill badge-secondary w-15">59</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item m-2">
            <div class="card m-3">
              <div class="item-card">
                <div class="item-card-desc">
                  <a href="javascript:void(0);"></a>
                  <div class="item-card-img">
                    <img src="assets/images/products/b1.png" alt="img" class="br-tr-7 br-tl-7">
                  </div>
                  <div class="item-card-text">
                    <h4 class="mb-0">Luxury Homes</h4>
                    <span class="badge rounded-pill badge-secondary w-15">59</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
    </owl-carousel-o>

  </div>
</section>

<section class="sptb">
  <div class="container">
    <div class="section-title center-block text-center">
  <h2>Featured Properties</h2>
  <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
</div>
 <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
             <div class="card m-3">
                <div class="power-ribbon power-ribbon-top-left text-warning">
                  <span class="bg-warning">
                    <i class="fa fa-bolt"></i>
                  </span>
                </div>
                <div class="item-card2-img">
                  <a href="javascript:void(0);"></a>
                  <img src="assets/images/products/b1.png" alt="img" class="cover-image">
                  <div class="tag-text">
                    <span class="bg-danger tag-option">For Sale </span>
                  </div>
                </div>
                <div class="item-card2-icons">
                  <a href="javascript:void(0);" class="item-card2-icons-l bg-primary">
                    <i class="fa fa-home"></i>
                  </a>
                  <a href="javascript:void(0);" class="item-card2-icons-r bg-secondary">
                    <i class="fa fa fa-heart-o"></i>
                  </a>
                </div>
                <div class="card-body">
                  <div class="item-card2">
                    <div class="item-card2-text">
                      <a href="javascript:void(0);" class="text-dark">
                        <h4 class="">Apartments</h4>
                      </a>
                      <p class="mb-2">
                        <i class="fa fa-map-marker text-danger me-1"></i> Preston Street Wichita , USA
                      </p>
                      <h5 class="font-weight-bold mb-3">$89,005 <span class="fs-12  font-weight-normal">Per Month</span>
                      </h5>
                    </div>
                    <ul class="item-card2-list">
                      <li>
                        <a href="javascript:void(0);">
                          <i class="fa fa-arrows-alt text-muted me-1"></i> 700 Sqft </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="icons">
                          <i class="fa fa-bed text-muted me-1"></i> 20 Beds </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="icons">
                          <i class="fa fa-bath text-muted me-1"></i> 10 Bath </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="icons">
                          <i class="fa fa-car text-muted me-1"></i> 10 Car </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="footerimg d-flex mt-0 mb-0">
                    <div class="d-flex footerimg-l mb-0">
                      <img src="assets/images/faces/female/1.jpg" alt="image" class="avatar brround  me-2">
                      <h5 class="time-title text-muted p-0 leading-normal my-auto">Elizabeth <i class="si si-check text-success fs-12 ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="verified" aria-label="verified"></i>
                      </h5>
                    </div>
                    <div class="my-auto footerimg-r ms-auto">
                      <small class="text-muted">50 mins ago</small>
                    </div>
                  </div>
                </div>
              </div>
        </ng-template>
        <ng-template carouselSlide>
             <div class="card m-3">
                <div class="power-ribbon power-ribbon-top-left text-warning">
                  <span class="bg-warning">
                    <i class="fa fa-bolt"></i>
                  </span>
                </div>
                <div class="item-card2-img">
                  <a href="javascript:void(0);"></a>
                  <img src="assets/images/products/b1.png" alt="img" class="cover-image">
                  <div class="tag-text">
                    <span class="bg-danger tag-option">For Sale </span>
                  </div>
                </div>
                <div class="item-card2-icons">
                  <a href="javascript:void(0);" class="item-card2-icons-l bg-primary">
                    <i class="fa fa-home"></i>
                  </a>
                  <a href="javascript:void(0);" class="item-card2-icons-r bg-secondary">
                    <i class="fa fa fa-heart-o"></i>
                  </a>
                </div>
                <div class="card-body">
                  <div class="item-card2">
                    <div class="item-card2-text">
                      <a href="javascript:void(0);" class="text-dark">
                        <h4 class="">Apartments</h4>
                      </a>
                      <p class="mb-2">
                        <i class="fa fa-map-marker text-danger me-1"></i> Preston Street Wichita , USA
                      </p>
                      <h5 class="font-weight-bold mb-3">$89,005 <span class="fs-12  font-weight-normal">Per Month</span>
                      </h5>
                    </div>
                    <ul class="item-card2-list">
                      <li>
                        <a href="javascript:void(0);">
                          <i class="fa fa-arrows-alt text-muted me-1"></i> 700 Sqft </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="icons">
                          <i class="fa fa-bed text-muted me-1"></i> 20 Beds </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="icons">
                          <i class="fa fa-bath text-muted me-1"></i> 10 Bath </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="icons">
                          <i class="fa fa-car text-muted me-1"></i> 10 Car </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="footerimg d-flex mt-0 mb-0">
                    <div class="d-flex footerimg-l mb-0">
                      <img src="assets/images/faces/female/1.jpg" alt="image" class="avatar brround  me-2">
                      <h5 class="time-title text-muted p-0 leading-normal my-auto">Elizabeth <i class="si si-check text-success fs-12 ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="verified" aria-label="verified"></i>
                      </h5>
                    </div>
                    <div class="my-auto footerimg-r ms-auto">
                      <small class="text-muted">50 mins ago</small>
                    </div>
                  </div>
                </div>
              </div>
        </ng-template>
        <ng-template carouselSlide>
             <div class="card m-3">
                <div class="power-ribbon power-ribbon-top-left text-warning">
                  <span class="bg-warning">
                    <i class="fa fa-bolt"></i>
                  </span>
                </div>
                <div class="item-card2-img">
                  <a href="javascript:void(0);"></a>
                  <img src="assets/images/products/b1.png" alt="img" class="cover-image">
                  <div class="tag-text">
                    <span class="bg-danger tag-option">For Sale </span>
                  </div>
                </div>
                <div class="item-card2-icons">
                  <a href="javascript:void(0);" class="item-card2-icons-l bg-primary">
                    <i class="fa fa-home"></i>
                  </a>
                  <a href="javascript:void(0);" class="item-card2-icons-r bg-secondary">
                    <i class="fa fa fa-heart-o"></i>
                  </a>
                </div>
                <div class="card-body">
                  <div class="item-card2">
                    <div class="item-card2-text">
                      <a href="javascript:void(0);" class="text-dark">
                        <h4 class="">Apartments</h4>
                      </a>
                      <p class="mb-2">
                        <i class="fa fa-map-marker text-danger me-1"></i> Preston Street Wichita , USA
                      </p>
                      <h5 class="font-weight-bold mb-3">$89,005 <span class="fs-12  font-weight-normal">Per Month</span>
                      </h5>
                    </div>
                    <ul class="item-card2-list">
                      <li>
                        <a href="javascript:void(0);">
                          <i class="fa fa-arrows-alt text-muted me-1"></i> 700 Sqft </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="icons">
                          <i class="fa fa-bed text-muted me-1"></i> 20 Beds </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="icons">
                          <i class="fa fa-bath text-muted me-1"></i> 10 Bath </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="icons">
                          <i class="fa fa-car text-muted me-1"></i> 10 Car </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="footerimg d-flex mt-0 mb-0">
                    <div class="d-flex footerimg-l mb-0">
                      <img src="assets/images/faces/female/1.jpg" alt="image" class="avatar brround  me-2">
                      <h5 class="time-title text-muted p-0 leading-normal my-auto">Elizabeth <i class="si si-check text-success fs-12 ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="verified" aria-label="verified"></i>
                      </h5>
                    </div>
                    <div class="my-auto footerimg-r ms-auto">
                      <small class="text-muted">50 mins ago</small>
                    </div>
                  </div>
                </div>
              </div>
        </ng-template>
        <ng-template carouselSlide>
             <div class="card m-3">
                <div class="power-ribbon power-ribbon-top-left text-warning">
                  <span class="bg-warning">
                    <i class="fa fa-bolt"></i>
                  </span>
                </div>
                <div class="item-card2-img">
                  <a href="javascript:void(0);"></a>
                  <img src="assets/images/products/b1.png" alt="img" class="cover-image">
                  <div class="tag-text">
                    <span class="bg-danger tag-option">For Sale </span>
                  </div>
                </div>
                <div class="item-card2-icons">
                  <a href="javascript:void(0);" class="item-card2-icons-l bg-primary">
                    <i class="fa fa-home"></i>
                  </a>
                  <a href="javascript:void(0);" class="item-card2-icons-r bg-secondary">
                    <i class="fa fa fa-heart-o"></i>
                  </a>
                </div>
                <div class="card-body">
                  <div class="item-card2">
                    <div class="item-card2-text">
                      <a href="javascript:void(0);" class="text-dark">
                        <h4 class="">Apartments</h4>
                      </a>
                      <p class="mb-2">
                        <i class="fa fa-map-marker text-danger me-1"></i> Preston Street Wichita , USA
                      </p>
                      <h5 class="font-weight-bold mb-3">$89,005 <span class="fs-12  font-weight-normal">Per Month</span>
                      </h5>
                    </div>
                    <ul class="item-card2-list">
                      <li>
                        <a href="javascript:void(0);">
                          <i class="fa fa-arrows-alt text-muted me-1"></i> 700 Sqft </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="icons">
                          <i class="fa fa-bed text-muted me-1"></i> 20 Beds </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="icons">
                          <i class="fa fa-bath text-muted me-1"></i> 10 Bath </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="icons">
                          <i class="fa fa-car text-muted me-1"></i> 10 Car </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="footerimg d-flex mt-0 mb-0">
                    <div class="d-flex footerimg-l mb-0">
                      <img src="assets/images/faces/female/1.jpg" alt="image" class="avatar brround  me-2">
                      <h5 class="time-title text-muted p-0 leading-normal my-auto">Elizabeth <i class="si si-check text-success fs-12 ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="verified" aria-label="verified"></i>
                      </h5>
                    </div>
                    <div class="my-auto footerimg-r ms-auto">
                      <small class="text-muted">50 mins ago</small>
                    </div>
                  </div>
                </div>
              </div>
        </ng-template>

     </owl-carousel-o>
  </div>
</section>





<section>
  <div class="about-1 cover-image sptb bg-background-color" data-bs-image-src="assets/images/banners/banner5.jpg" style="background: url(&quot;assets/images/banners/banner5.jpg&quot;) center center;">
    <div class="content-text mb-0 text-white info">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-3 col-md-6">
            <div class="counter-status md-mb-0">
              <div class="counter-icon text-danger">
                <i class="icon icon-people"></i>
              </div>
              <h5>Total Agents</h5>
              <h2 class="counter mb-0 font-weight-bold">893</h2>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="counter-status status-1 md-mb-0">
              <div class="counter-icon text-warning">
                <i class="icon icon-rocket"></i>
              </div>
              <h5>Total Sales</h5>
              <h2 class="counter mb-0 font-weight-bold">1765</h2>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="counter-status status md-mb-0">
              <div class="counter-icon text-primary">
                <i class="icon icon-docs"></i>
              </div>
              <h5>Total Projects</h5>
              <h2 class="counter mb-0 font-weight-bold">846</h2>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="counter-status status">
              <div class="counter-icon text-success">
                <i class="icon icon-emotsmile"></i>
              </div>
              <h5>Happy Customers</h5>
              <h2 class="counter font-weight-bold">7253</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="sptb">
  <div class="container">
    <div class="col-md-12">
      <div class="items-gallery">
        <div class="items-blog-tab text-center">
          <h2 class="">Best Property Collections</h2>
          <div class="items-blog-tab-heading">
            <div class="">
              <ul class="nav items-blog-tab-menu">
                <li class="">
                  <a href="#tab-1" class="show active" data-bs-toggle="tab">All</a>
                </li>
                <li>
                  <a href="#tab-2" data-bs-toggle="tab" class="">2BHK Homes</a>
                </li>
                <li>
                  <a href="#tab-3" data-bs-toggle="tab" class="">Villas</a>
                </li>
                <li>
                  <a href="#tab-4" data-bs-toggle="tab" class="">Apartments</a>
                </li>
                <li>
                  <a href="#tab-5" data-bs-toggle="tab" class="">Deplux Houses</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab-content p-0">
            <div class="tab-pane" id="tab-1">
              <div class="row pt-2 closed" id="container3" style="height: 445px; overflow: hidden;">
                <div class="col-xl-4 col-lg-4 col-md-12">
                  <div class="card">
                    <span class="ribbon-2">
                      <span>
                        <i class="fa fa-home"></i>
                      </span>
                    </span>
                    <div class="item-card8-img">
                      <a href="javascript:void(0)"></a>
                      <img src="assets/images/products/f1.png" alt="img" class="cover-image" />
                    </div>
                    <div class="item-card8-overlaytext">
                      <h6 class="bg-primary  mb-0">Luxury Room</h6>
                    </div>
                    <div class="card-body">
                      <div class="item-card8-desc">
                        <p class="text-muted">16 June 2019.</p>
                        <a href="javascript:void(0)">
                          <h4 class="font-weight-semibold">Food &amp; Bar Apartments</h4>
                        </a>
                        <p class="mb-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12">
                  <div class="card">
                    <span class="ribbon-3">
                      <span>
                        <i class="fa fa-building"></i>
                      </span>
                    </span>
                    <div class="item-card8-img">
                      <a href="javascript:void(0)"></a>
                      <img src="assets/images/products/b1.png" alt="img" class="cover-image" />
                    </div>
                    <div class="item-card8-overlaytext">
                      <h6 class="bg-info  mb-0">Villa</h6>
                    </div>
                    <div class="card-body">
                      <div class="item-card8-desc">
                        <p class="text-muted">05 June 2019</p>
                        <a href="javascript:void(0)">
                          <h4 class="font-weight-semibold">Food &amp; Bar Apartments</h4>
                        </a>
                        <p class="mb-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12">
                  <div class="card">
                    <span class="ribbon-2">
                      <span>
                        <i class="fa fa-home"></i>
                      </span>
                    </span>
                    <div class="item-card8-img">
                      <a href="javascript:void(0)"></a>
                      <img src="assets/images/products/h4.png" alt="img" class="cover-image" />
                    </div>
                    <div class="item-card8-overlaytext">
                      <h6 class="bg-primary  mb-0">Apartments</h6>
                    </div>
                    <div class="card-body">
                      <div class="item-card8-desc">
                        <p class="text-muted">21 June 2019</p>
                        <a href="javascript:void(0)">
                          <h4 class="font-weight-semibold">Food &amp; Bar Apartments</h4>
                        </a>
                        <p class="mb-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="showmore-button">
                <div class="showmore-button-inner more">Show more</div>
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12">
                  <div class="card mb-xl-0">
                    <span class="ribbon-2">
                      <span>
                        <i class="fa fa-home"></i>
                      </span>
                    </span>
                    <div class="item-card8-img">
                      <a href="javascript:void(0)"></a>
                      <img src="assets/images/products/f1.png" alt="img" class="cover-image">
                    </div>
                    <div class="item-card8-overlaytext">
                      <h6 class="bg-primary  mb-0">Luxury Room</h6>
                    </div>
                    <div class="card-body">
                      <div class="item-card8-desc">
                        <p class="text-muted">16 June 2019.</p>
                        <a href="javascript:void(0)">
                          <h4 class="font-weight-semibold">Food &amp; Bar Apartments</h4>
                        </a>
                        <p class="mb-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12">
                  <div class="card mb-xl-0">
                    <span class="ribbon-1">
                      <span>
                        <i class="fa fa-home"></i>
                      </span>
                    </span>
                    <div class="item-card8-img">
                      <a href="javascript:void(0)"></a>
                      <img src="assets/images/products/f1.png" alt="img" class="cover-image">
                    </div>
                    <div class="item-card8-overlaytext">
                      <h6 class="bg-secondary mb-0">2BHK House</h6>
                    </div>
                    <div class="card-body">
                      <div class="item-card8-desc">
                        <p class="text-muted">11 June 2019 </p>
                        <a href="javascript:void(0)">
                          <h4 class="font-weight-semibold">Food &amp; Bar Apartments</h4>
                        </a>
                        <p class="mb-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12">
                  <div class="card m-3">
                    <span class="ribbon-3">
                      <span>
                        <i class="fa fa-home"></i>
                      </span>
                    </span>
                    <div class="item-card8-img">
                      <a href="javascript:void(0)"></a>
                      <img src="assets/images/products/f1.png" alt="img" class="cover-image">
                    </div>
                    <div class="item-card8-overlaytext">
                      <h6 class="bg-info mb-0">Modren Kitchen</h6>
                    </div>
                    <div class="card-body">
                      <div class="item-card8-desc">
                        <p class="text-muted">10 June 2019.</p>
                        <a href="javascript:void(0)">
                          <h4 class="font-weight-semibold">Food &amp; Bar Apartments</h4>
                        </a>
                        <p class="mb-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane active" id="tab-3">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12">
                  <div class="card mb-xl-0">
                    <span class="ribbon-3">
                      <span>
                        <i class="fa fa-building"></i>
                      </span>
                    </span>
                    <div class="item-card8-img">
                      <a href="javascript:void(0)"></a>
                      <img src="assets/images/products/b1.png" alt="img" class="cover-image">
                    </div>
                    <div class="item-card8-overlaytext">
                      <h6 class="bg-info  mb-0">Villa</h6>
                    </div>
                    <div class="card-body">
                      <div class="item-card8-desc">
                        <p class="text-muted">05 June 2019</p>
                        <a href="javascript:void(0)">
                          <h4 class="font-weight-semibold">Food &amp; Bar Apartments</h4>
                        </a>
                        <p class="mb-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12">
                  <div class="card mb-xl-0">
                    <span class="ribbon-2">
                      <span>
                        <i class="fa fa-building-o"></i>
                      </span>
                    </span>
                    <div class="item-card8-img">
                      <a href="javascript:void(0)"></a>
                      <img src="assets/images/products/b1.png" alt="img" class="cover-image">
                    </div>
                    <div class="item-card8-overlaytext">
                      <h6 class="bg-primary  mb-0">Garden House</h6>
                    </div>
                    <div class="card-body">
                      <div class="item-card8-desc">
                        <p class="text-muted">26 May 2019.</p>
                        <a href="javascript:void(0)">
                          <h4 class="font-weight-semibold">Food &amp; Bar Apartments</h4>
                        </a>
                        <p class="mb-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12">
                  <div class="card m-3">
                    <span class="ribbon-1">
                      <span>
                        <i class="fa fa-building-o"></i>
                      </span>
                    </span>
                    <div class="item-card8-img">
                      <a href="javascript:void(0)"></a>
                      <img src="assets/images/products/f1.png" alt="img" class="cover-image">
                    </div>
                    <div class="item-card8-overlaytext">
                      <h6 class="bg-secondary  mb-0">Villa</h6>
                    </div>
                    <div class="card-body">
                      <div class="item-card8-desc">
                        <p class="text-muted">16 November 2019.</p>
                        <a href="javascript:void(0)">
                          <h4 class="font-weight-semibold">Food &amp; Bar Apartments</h4>
                        </a>
                        <p class="mb-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-4">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12">
                  <div class="card mb-xl-0">
                    <span class="ribbon-2">
                      <span>
                        <i class="fa fa-home"></i>
                      </span>
                    </span>
                    <div class="item-card8-img">
                      <a href="javascript:void(0)"></a>
                      <img src="assets/images/products/h4.png" alt="img" class="cover-image">
                    </div>
                    <div class="item-card8-overlaytext">
                      <h6 class="bg-primary  mb-0">Apartments</h6>
                    </div>
                    <div class="card-body">
                      <div class="item-card8-desc">
                        <p class="text-muted">21 June 2019</p>
                        <a href="javascript:void(0)">
                          <h4 class="font-weight-semibold">Food &amp; Bar Apartments</h4>
                        </a>
                        <p class="mb-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12">
                  <div class="card mb-xl-0">
                    <span class="ribbon-3">
                      <span>
                        <i class="fa fa-home"></i>
                      </span>
                    </span>
                    <div class="item-card8-img">
                      <a href="javascript:void(0)"></a>
                      <img src="assets/images/products/f1.png" alt="img" class="cover-image">
                    </div>
                    <div class="item-card8-overlaytext">
                      <h6 class="bg-info mb-0">2BHK House</h6>
                    </div>
                    <div class="card-body">
                      <div class="item-card8-desc">
                        <p class="text-muted">18 June 2019</p>
                        <a href="javascript:void(0)">
                          <h4 class="font-weight-semibold">Food &amp; Bar Apartments</h4>
                        </a>
                        <p class="mb-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12">
                  <div class="card m-3">
                    <span class="ribbon-1">
                      <span>
                        <i class="fa fa-home"></i>
                      </span>
                    </span>
                    <div class="item-card8-img">
                      <a href="javascript:void(0)"></a>
                      <img src="assets/images/products/h4.png" alt="img" class="cover-image">
                    </div>
                    <div class="item-card8-overlaytext">
                      <h6 class="bg-secondary  mb-0">3BHK House</h6>
                    </div>
                    <div class="card-body">
                      <div class="item-card8-desc">
                        <p class="text-muted">06 July 2019</p>
                        <a href="javascript:void(0)">
                          <h4 class="font-weight-semibold">Food &amp; Bar Apartments</h4>
                        </a>
                        <p class="mb-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-5">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12">
                  <div class="card mb-xl-0">
                    <span class="ribbon-3">
                      <span>
                        <i class="fa fa-building"></i>
                      </span>
                    </span>
                    <div class="item-card8-img">
                      <a href="javascript:void(0)"></a>
                      <img src="assets/images/products/f1.png" alt="img" class="cover-image">
                    </div>
                    <div class="item-card8-overlaytext">
                      <h6 class="bg-info  mb-0">Deplux Rooms</h6>
                    </div>
                    <div class="card-body">
                      <div class="item-card8-desc">
                        <p class="text-muted">20 June 2019</p>
                        <a href="javascript:void(0)">
                          <h4 class="font-weight-semibold">Food &amp; Bar Apartments</h4>
                        </a>
                        <p class="mb-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12">
                  <div class="card mb-xl-0">
                    <span class="ribbon-1">
                      <span>
                        <i class="fa fa-building"></i>
                      </span>
                    </span>
                    <div class="item-card8-img">
                      <a href="javascript:void(0)"></a>
                      <img src="assets/images/products/f1.png" alt="img" class="cover-image">
                    </div>
                    <div class="item-card8-overlaytext">
                      <h6 class="bg-secondary mb-0">Duplex House</h6>
                    </div>
                    <div class="card-body">
                      <div class="item-card8-desc">
                        <p class="text-muted">19 June 2019</p>
                        <a href="javascript:void(0)">
                          <h4 class="font-weight-semibold">Food &amp; Bar Apartments</h4>
                        </a>
                        <p class="mb-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12">
                  <div class="card m-3">
                    <span class="ribbon-2">
                      <span>
                        <i class="fa fa-building"></i>
                      </span>
                    </span>
                    <div class="item-card8-img">
                      <a href="javascript:void(0)"></a>
                      <img src="assets/images/products/f1.png" alt="img" class="cover-image">
                    </div>
                    <div class="item-card8-overlaytext">
                      <h6 class="bg-primary  mb-0">Duplex Room</h6>
                    </div>
                    <div class="card-body">
                      <div class="item-card8-desc">
                        <p class="text-muted">13 June 2019</p>
                        <a href="javascript:void(0)">
                          <h4 class="font-weight-semibold">Food &amp; Bar Apartments</h4>
                        </a>
                        <p class="mb-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="sptb bg-white">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>Top Lisiting Places</h2>
      <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
    </div>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12 col-xl-6">
        <div class="row">
          <div class="col-sm-12 col-lg-6 col-md-6 ">
            <div class="item-card overflow-hidden">
              <div class="item-card-desc">
                <div class="card text-center overflow-hidden">
                  <div class="card-img">
                    <img src="assets/images/locations/germany.jpg" alt="img" class="cover-image">
                  </div>
                  <div class="item-tags">
                    <div class="bg-primary tag-option">
                      <i class="fa fa fa-heart-o me-1"></i> 786
                    </div>
                  </div>
                  <div class="item-card-text">
                    <h4 class="mb-0">44,327 <span>
                        <i class="fa fa-map-marker me-1 text-primary"></i>GERMANY </span>
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-6 col-md-6 ">
            <div class="item-card overflow-hidden">
              <div class="item-card-desc">
                <div class="card text-center overflow-hidden">
                  <div class="card-img">
                    <img src="assets/images/locations/london.jpg" alt="img" class="cover-image">
                  </div>
                  <div class="item-tags">
                    <div class="bg-secondary tag-option">
                      <i class="fa fa fa-heart-o me-1"></i> 89
                    </div>
                  </div>
                  <div class="item-card-text">
                    <h4 class="mb-0">52,145 <span>
                        <i class="fa fa-map-marker me-1 text-primary"></i> LONDON </span>
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-6 col-md-6 ">
            <div class="item-card overflow-hidden">
              <div class="item-card-desc">
                <div class="card text-center overflow-hidden mb-lg-0">
                  <div class="card-img">
                    <img src="assets/images/locations/austerlia.jpg" alt="img" class="cover-image">
                  </div>
                  <div class="item-tags">
                    <div class="bg-primary tag-option">
                      <i class="fa fa fa-heart-o me-1"></i> 894
                    </div>
                  </div>
                  <div class="item-card-text">
                    <h4 class="mb-0">63,263 <span>
                        <i class="fa fa-map-marker text-primary me-1"></i>AUSTERLIA </span>
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-6 col-md-6 ">
            <div class="item-card overflow-hidden">
              <div class="item-card-desc">
                <div class="card text-center overflow-hidden mb-lg-0">
                  <div class="card-img">
                    <img src="assets/images/locations/chicago.jpg" alt="img" class="cover-image">
                  </div>
                  <div class="item-tags">
                    <div class="bg-secondary tag-option">
                      <i class="fa fa fa-heart-o me-1"></i> 123
                    </div>
                  </div>
                  <div class="item-card-text">
                    <h4 class="mb-0">36,485 <span>
                        <i class="fa fa-map-marker text-primary me-1"></i>CHICAGO </span>
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-xl-6 col-sm-12">
        <div class="item-card overflow-hidden">
          <div class="item-card-desc">
            <div class="card overflow-hidden mb-0">
              <div class="card-img">
                <img src="assets/images/locations/losangels-1.jpg" alt="img" class="cover-image">
              </div>
              <div class="item-tags">
                <div class="bg-primary tag-option">
                  <i class="fa fa fa-heart-o me-1"></i> 567
                </div>
              </div>
              <div class="item-card-text">
                <h4 class="mb-0">64,825 <span>
                    <i class="fa fa-map-marker text-primary me-1"></i>WASHINGTON </span>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


